/* Importa las variables CSS */
@import './variables.css';

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos base para el cuerpo */
body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
}

/* Estilos para encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    color: var(--color-primary);
}

/* Estilos para enlaces */
a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}