---
import BaseLayout from "../layouts/BaseLayout.astro";
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Beneficios from "../components/Beneficios.astro";
import Introduccion from "../components/Introduccion.astro";
import Habitaciones from "../components/Habitaciones.astro";
---

<BaseLayout>
  <main>
    <Background />
    <Header />
    <Hero />
    <div class="content">
      <Beneficios />
      <Introduccion />
      <Habitaciones />
    </div>
    
    
  </main>
  
  <!--?xml version="1.0" encoding="UTF-8"?-->
</BaseLayout>
